<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pagina Não Encontrada - SimpleAuth</title>
  <link href="/styles.css" rel="stylesheet">
</head>
<body>
  <main>
    <h1>404 <span>Erro</span></h1>
    <p>A pagina <code id="pathname"></code> não foi encontrada, tente voltar a Home do site</p>
  </main>
  <script>document.querySelector('code#pathname').textContent = location.pathname</script>
</body>
</html>
